.homepage {
    h1 {
        padding: 10px;
        border-bottom: 1px solid #dddada;
    }
    .pinnedPost {
        border-bottom: 10px solid #dddada;
    }
    .paginate {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        border-bottom: 1px solid #dddada;
    }
    div.found {
        padding: 0 10px;
    }
}