.profile {
    h2 {
        padding: 10px;
        border-bottom: 1px solid #dddada;
        margin-bottom: 0;
    }
    .coverphoto {
        width: 100%;
        height: 230px;
        position: relative;
        img {
            width: 100%;
            height: 100%;
        }
        .cameraCoverPhoto {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: transparent;
            border: none;
            width: 100%;
            height: 100%;
            cursor: pointer;
            display: none;
            outline: none;
            i {
                color: darkslategrey;
                font-size: 47px;
            }
        }
        &:hover {
            button.cameraCoverPhoto {
                display: inline-block;
            }
        }
    }
    .profilePic {
        position: absolute;
        top: 200px;
        left: 20px;
        img {
            width:160px;
            height: 160px;
            border-radius: 50%;
            border: 3px solid white;
        }
        button.camera {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: transparent;
            border: none;
            width: 100%;
            height: 100%;
            cursor: pointer;
            display: none;
            outline: none;
            i {
                color: darkslategrey;
                font-size: 47px;
            }
        }
        &:hover {
            button.camera {
                display: inline-block;
            }
        }
        .progressCir {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
    }
    .emailfollowing {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 13px;
        padding-right: 10px;
        button {
            border-radius: 30px;
            padding: 8px 17px;
            border: 1px solid #00ACEE;
            background-color: transparent;
            &.email {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 20px;
                i {
                    color: #00ACEE;
                }
            }
            &.follow {
                font-weight: bolder;
                outline: none;
                &:disabled {
                    opacity: .4;
                }
            }
        }
    }
    .userdetails {
        padding-left: 10px;
        margin-top: 20px;
        p {
            margin: 0;
        }
        .firstlastname {
            font-weight: bolder;
            font-size: 18px;
        }
        .username {
            color: grey;
            margin-top: 3px;
        }
        .followingfollowers {
            display: flex;
            align-items: center;
            margin-top: 3px;
            p {
                color: grey;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
                &:last-child {
                    margin-left: 20px;
                }
                span {
                    color: black;
                    font-weight: bolder;
                }
            }
        }
    }
    .tabs {
        margin-top: 10px;
    }
}