.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .75);
    z-index: 2;
    .replyModal {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60%;
        background-color: white;
        border-radius: 8px;
        transform: translate(-50%, -50%);
        @media screen and (max-width: 622px) {
            width: 85%;
        }
        .titleP {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 25px;
            border-bottom: 1px solid #dddada;
            i {
                cursor: pointer;
            }
        }
        .row {
            margin-left: 0;
            margin-right: 0;
            padding: 33px 25px 15px;
            position: relative;
            border-bottom: 1px solid #dddada;
            .reposted {
                position: absolute;
                color: #c7c7c7;
                position: absolute;
                top: 6px;
                left: 57px;
                color: #c7c7c7;
            }
            .profPic {
                @media screen and (max-width: 576px) {
                    text-align: center;
                }
                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                }
            }
            .postDetails {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-right: 0;
                padding-left: 0;
                .namesdate {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    @media screen and (max-width: 576px) {
                        flex-wrap: wrap;
                        justify-content: space-around;
                    }
                    .firstLastName {
                        font-size: 18px;
                        font-weight: bolder;
                        @media screen and (max-width: 576px) {
                            flex: 0 0 70%;
                        }
                    }
                    .username,
                    .date {
                        color: #7b7979;
                        font-size: 16px;
                        margin: 0 4px;
                        @media screen and (max-width: 576px) {
                            flex: 0 0 45%;
                        }
                    }
                    .username {
                        @media screen and (max-width: 576px) {
                            text-align: right;
                            flex: 25%;
                        }
                    }
                    .pinnedClose {
                        flex: 1;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        @media screen and (max-width: 576px) {
                            flex: 0 0 45%;
                        }
                        i:first-child {
                            margin-right: 5px;
                        }
                    }
                }
                .postContent {
                    margin-top: 8px;
                }
                .commentslikes {
                    margin-top: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 100%;
                    .comment {
                        display: flex;
                        align-items: center;
                        border: none;
                        background-color: transparent;
                        outline: none;
                        cursor: pointer;
                        &:disabled {
                            i, span.number {
                                color: #b1b0b0;
                                cursor: none;
                            }
                        }
                        span.number {
                            margin-left: 2px;
                        }
                    }
                }
            }
        }
        .postflex {
            display: flex;
            align-items: flex-start;
            padding: 10px 25px;
            border-bottom: 1px solid #dddada;
            .profilePic {
                padding-left: 15px;
                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                }
            }
            form {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 0;
                flex: 1;
                textarea {
                    width: 100%;
                    border: none;
                    height: 80px;
                    resize: none;
                    outline: none;
                    padding-left: 6px;
                }
                .spinner {
                    display: flex;
                }
                button {
                    width: 80px;
                }
            }
        }
        .btnActions {
            display: flex;
            justify-content: flex-end;
            padding: 10px 25px;
            align-items: center;
            button {
                &:first-child {
                    margin-right: 15px;
                }
            }
        }
    }
}