.viewpost {
    .error {
        font-size: 23px;
        color: red;
        text-align: center;
        margin-top: 40px;
    }
    h1 {
        padding: 10px;
        border-bottom: 1px solid #dddada;
    }
    h5 {
        padding: 20px;
        text-decoration: underline;
    }
}