@import 'react-toastify/dist/ReactToastify.min.css';

.container-fluid {
    margin-left: 0;
    margin-right: 0;
    main {
        padding-left: 0;
        padding-right: 0;
        min-height: 100vh;
        border-left: 1px solid #dddada;
        border-right: 1px solid #dddada;
    }
}